<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bibliosoft</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>BiblioSoft.Login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReaderRegister</display-name>
    <servlet-name>ReaderRegister</servlet-name>
    <servlet-class>BiblioSoft.Register.ReaderRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderRegister</servlet-name>
    <url-pattern>/ReaderRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookByID</display-name>
    <servlet-name>SearchBookByID</servlet-name>
    <servlet-class>BiblioSoft.action.SearchBookByID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookByID</servlet-name>
    <url-pattern>/SearchBookByID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookByID</display-name>
    <servlet-name>DeleteBookByID</servlet-name>
    <servlet-class>BiblioSoft.action.DeleteBookByID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookByID</servlet-name>
    <url-pattern>/DeleteBookByID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookBeforeEdit</display-name>
    <servlet-name>SearchBookBeforeEdit</servlet-name>
    <servlet-class>BiblioSoft.action.SearchBookBeforeEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookBeforeEdit</servlet-name>
    <url-pattern>/SearchBookBeforeEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookLocation</display-name>
    <servlet-name>UpdateBookLocation</servlet-name>
    <servlet-class>BiblioSoft.action.UpdateBookLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookLocation</servlet-name>
    <url-pattern>/UpdateBookLocation</url-pattern>
  </servlet-mapping>
</web-app>