<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bibliosoft</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>BiblioSoft.Login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReaderRegister</display-name>
    <servlet-name>ReaderRegister</servlet-name>
    <servlet-class>BiblioSoft.Register.ReaderRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderRegister</servlet-name>
    <url-pattern>/ReaderRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSearch</display-name>
    <servlet-name>BookSearch</servlet-name>
    <servlet-class>BiblioSoft.search.BookSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSearch</servlet-name>
    <url-pattern>/BookSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsbnResult</display-name>
    <servlet-name>IsbnResult</servlet-name>
    <servlet-class>BilioSoft.BookInfo.IsbnResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsbnResult</servlet-name>
    <url-pattern>/IsbnResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBookInfoIsbn</display-name>
    <servlet-name>GetBookInfoIsbn</servlet-name>
    <servlet-class>BiblioSoft.BookInfo.GetBookInfoIsbn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBookInfoIsbn</servlet-name>
    <url-pattern>/GetBookInfoIsbn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianLogin</display-name>
    <servlet-name>LibrarianLogin</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.LibrarianLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianLogin</servlet-name>
    <url-pattern>/LibrarianLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReader</display-name>
    <servlet-name>AddReader</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.AddReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReader</servlet-name>
    <url-pattern>/AddReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditReader</display-name>
    <servlet-name>EditReader</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.EditReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditReader</servlet-name>
    <url-pattern>/EditReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReader</display-name>
    <servlet-name>DeleteReader</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.DeleteReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReader</servlet-name>
    <url-pattern>/DeleteReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindReaderForEdit</display-name>
    <servlet-name>FindReaderForEdit</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.FindReaderForEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindReaderForEdit</servlet-name>
    <url-pattern>/FindReaderForEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindReaderForDelete</display-name>
    <servlet-name>FindReaderForDelete</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.FindReaderForDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindReaderForDelete</servlet-name>
    <url-pattern>/FindReaderForDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookByID</display-name>
    <servlet-name>DeleteBookByID</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.DeleteBookByID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookByID</servlet-name>
    <url-pattern>/DeleteBookByID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookBeforeEdit</display-name>
    <servlet-name>SearchBookBeforeEdit</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.SearchBookBeforeEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookBeforeEdit</servlet-name>
    <url-pattern>/SearchBookBeforeEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookByID</display-name>
    <servlet-name>SearchBookByID</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.SearchBookByID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookByID</servlet-name>
    <url-pattern>/SearchBookByID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookLocation</display-name>
    <servlet-name>UpdateBookLocation</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.UpdateBookLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookLocation</servlet-name>
    <url-pattern>/UpdateBookLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestroyLibSession</display-name>
    <servlet-name>DestroyLibSession</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.DestroyLibSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestroyLibSession</servlet-name>
    <url-pattern>/DestroyLibSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookForLibrarian</display-name>
    <servlet-name>SearchBookForLibrarian</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.SearchBookForLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookForLibrarian</servlet-name>
    <url-pattern>/SearchBookForLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPost</display-name>
    <servlet-name>AddPost</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.AddPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPost</servlet-name>
    <url-pattern>/AddPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayThePost</display-name>
    <servlet-name>DisplayThePost</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.DisplayThePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayThePost</servlet-name>
    <url-pattern>/DisplayThePost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllPost</display-name>
    <servlet-name>AllPost</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.AllPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllPost</servlet-name>
    <url-pattern>/AllPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrEditPost</display-name>
    <servlet-name>DeleteOrEditPost</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.DeleteOrEditPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrEditPost</servlet-name>
    <url-pattern>/DeleteOrEditPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPostByTitle</display-name>
    <servlet-name>SearchPostByTitle</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.SearchPostByTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPostByTitle</servlet-name>
    <url-pattern>/SearchPostByTitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reader_index</display-name>
    <servlet-name>Reader_index</servlet-name>
    <servlet-class>BiblioSoft.Login.Reader_index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reader_index</servlet-name>
    <url-pattern>/Reader_index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookForReader</display-name>
    <servlet-name>SearchBookForReader</servlet-name>
    <servlet-class>BiblioSoft.search.SearchBookForReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookForReader</servlet-name>
    <url-pattern>/SearchBookForReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>announcement_show</display-name>
    <servlet-name>announcement_show</servlet-name>
    <servlet-class>BiblioSoft.main.announcement_show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>announcement_show</servlet-name>
    <url-pattern>/announcement_show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_index</display-name>
    <servlet-name>Admin_index</servlet-name>
    <servlet-class>BiblioSoft.Login.Admin_index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_index</servlet-name>
    <url-pattern>/Admin_index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDefaultValue</display-name>
    <servlet-name>UpdateDefaultValue</servlet-name>
    <servlet-class>BiblioSoft.adminOperation.UpdateDefaultValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDefaultValue</servlet-name>
    <url-pattern>/UpdateDefaultValue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>BiblioSoft.adminOperation.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestroySession</display-name>
    <servlet-name>DestroySession</servlet-name>
    <servlet-class>BiblioSoft.adminOperation.DestroySession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestroySession</servlet-name>
    <url-pattern>/DestroySession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyLib</display-name>
    <servlet-name>ModifyLib</servlet-name>
    <servlet-class>BiblioSoft.adminOperation.ModifyLib</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyLib</servlet-name>
    <url-pattern>/ModifyLib</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchResult</display-name>
    <servlet-name>SearchResult</servlet-name>
    <servlet-class>BiblioSoft.adminOperation.SearchResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResult</servlet-name>
    <url-pattern>/SearchResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLib</display-name>
    <servlet-name>DeleteLib</servlet-name>
    <servlet-class>BiblioSoft.adminOperation.DeleteLib</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLib</servlet-name>
    <url-pattern>/DeleteLib</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterLib</display-name>
    <servlet-name>RegisterLib</servlet-name>
    <servlet-class>BiblioSoft.adminOperation.RegisterLib</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterLib</servlet-name>
    <url-pattern>/RegisterLib</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBookinfoIsbn</display-name>
    <servlet-name>GetBookinfoIsbn</servlet-name>
    <servlet-class>BiblioSoft.adminOperation.GetBookinfoIsbn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBookinfoIsbn</servlet-name>
    <url-pattern>/GetBookinfoIsbn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSearch</display-name>
    <servlet-name>DeleteSearch</servlet-name>
    <servlet-class>BiblioSoft.adminOperation.DeleteSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSearch</servlet-name>
    <url-pattern>/DeleteSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReaderRetrievePassword</display-name>
    <servlet-name>ReaderRetrievePassword</servlet-name>
    <servlet-class>BiblioSoft.readerAction.ReaderRetrievePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderRetrievePassword</servlet-name>
    <url-pattern>/ReaderRetrievePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TimerTest</servlet-name>
    <servlet-class>BiblioSoft.core.TimerTest</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLocation</display-name>
    <servlet-name>AddLocation</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.AddLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLocation</servlet-name>
    <url-pattern>/AddLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategory</display-name>
    <servlet-name>DeleteCategory</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.DeleteCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategory</servlet-name>
    <url-pattern>/DeleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLocation</display-name>
    <servlet-name>DeleteLocation</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.DeleteLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLocation</servlet-name>
    <url-pattern>/DeleteLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordForReader</display-name>
    <servlet-name>UpdatePasswordForReader</servlet-name>
    <servlet-class>BiblioSoft.readerAction.UpdatePasswordForReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordForReader</servlet-name>
    <url-pattern>/UpdatePasswordForReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianForgetPswd</display-name>
    <servlet-name>LibrarianForgetPswd</servlet-name>
    <servlet-class>BiblioSoft.librarianAction.LibrarianForgetPswd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianForgetPswd</servlet-name>
    <url-pattern>/LibrarianForgetPswd</url-pattern>
  </servlet-mapping>
</web-app>